/**********************************************************************/

// Color Cube // 
$white: #ffffff;
$woodsmoke: #111117;
$blueLagoon:#038484;
$gravel:#504f51;
$pumice:#bcbebc;
$santaFe: #ae795e;
$fountainBlue:#52bbba;
$anakiwa: #8fffff;

/**********************************************************************/

// Median Cut //
$shark: #1d2023;
$grayNurse: #eef1ed;
$seaNymph: #6ca0a0;
$smaltBlue:#56808e;
$medianSantaFe: #a96b53;

/**********************************************************************/

// Material Design  //
$elm:#1c918e;
$materialSantaFe:#ab6b53;
$bigStone:#122439;
$masala:#443c3b;
$Akaroa:#d6b9a3;

/**********************************************************************/